@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.input-shadow {
  box-shadow: 0px 3px 4px 0px rgba(0, 12, 29, 0.06);
}

.input-shadow:focus {
  box-shadow: 0px 10px 14px 0px rgba(0, 12, 29, 0.1);
}

a:hover .social-icons path {
  fill: white;
}
a:hover .no-bg path {
  fill: #fcc520;
}
